<div id="<%= dom_id sale %>">
  <p>
    <strong> Fecha y Hora:</strong>
    <%= sale.sale_date %>
  </p>

  <p>
    <strong> Precio Total:</strong>
    <%= sale.sale_price %>
  </p>

  <p>
    <strong> Cliente:</strong>
    <%= sale.client %>
  </p>

</div>
