<div id="<%= dom_id sale %>">
  <p>
    <strong>Sale date:</strong>
    <%= sale.sale_date %>
  </p>

  <p>
    <strong>Sale price:</strong>
    <%= sale.sale_price %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= sale.client %>
  </p>

</div>
