<% content_for :title, t('edit') + ' ' + t('sale') %>

<h1> Editar Venta </h1>

<%= render "form", sale: @sale %>

<br>

<div>
  <%= link_to t('show') + ' ' + t('sale'), @sale %> |
  <%= link_to t('back_to') + ' ' + t('sales'), sales_path %>
</div>