<% content_for :title, "Editing sale" %>

<h1> Editar Venta </h1>

<%= render "form", sale: @sale %>

<br>

<div>
  <%= link_to "Mostrar Venta", @sale %> |
  <%= link_to "Volver a Ventas", sales_path %>
</div>
