<p style="color: green"><%= notice %></p>

<% content_for :title, t('sales') %>

<h1>Ventas</h1>

<div id="sales">
  <% @sales.each do |sale| %>
    <%= render sale %>
    <p>
      <%= link_to link_to t('show') + ' ' + t('sale'), sale %>
    </p>
  <% end %>
</div>

<%= link_to t('new_sale') + ' ' + t('sale'), new_sale_path %>