<p style="color: green"><%= notice %></p>

<% content_for :title, "Sales" %>

<h1>Sales</h1>

<div id="sales">
  <% @sales.each do |sale| %>
    <%= render sale %>
    <p>
      <%= link_to "Mostrar Venta", sale %>
    </p>
  <% end %>
</div>

<%= link_to "Nueva Venta", new_sale_path %>
