<% content_for :title, t('sales') %>

<div class="title-container">
  <h1> Ventas </h1>
  <%= link_to t('new_sale') + ' ' + t('sale'), new_sale_path, class: "add-button" %>
</div>

<div class="sales-container">
  <% @sales.each do |sale| %>
    <div>
      <div>
        <span><%= sale.created_at.strftime("Día: %d/%m/%Y, Hora: %H:%M") %></span>
        <p> Cliente: <%= sale.client %></p>
      </div>
      <%= link_to link_to t('show') + ' ' + t('sale'), sale, class: "link-button"  %>
    </div>
  <% end %>
</div>

