* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.main-container {
    display: flex;
    height: calc(100vh - 60px);
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #FBF9FF;
}

@import "products/index";
@import "products/show";