* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
}

.main-container {
    display: flex;
    height: calc(100vh - 60px);
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #d9d6d0;
}