.content-section {
    background-color: #A2A3BB;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.content-section h1 {
    margin-bottom: 15px;
    color: #333;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px 0;
    h1 {
        font-size: 2em;
        color: #000807;
        margin: 0;
        text-align: center;
    }
}

.add-button {
    display: inline-block;
    margin-left: 15px;
    padding: 8px 10px;
    background-color: #9395D3;
    color: #000807;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #B3B7EE;
    }
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .link {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        transition: background-color 0.3s, transform 0.1s;
        display: inline-block;
        &:hover {
            transform: translateY(-2px);
        }
        &:active {
            transform: translateY(0);
        }
    }
    .edit-link {
        background-color: #4CAF50;
        color: white;
        &:hover {
            background-color: #45a049;
        }
    }
    .back-link {
        background-color: #f0f0f0;
        color: #333;
        &:hover {
            background-color: #e0e0e0;
        }
    }
    .delete-link {
        background-color: #f44336;
        padding: 10px 15px;
        color: white;
        &:hover {
            background-color: #d32f2f;
        }
    }
    .restore-link {
        background-color: #3672f4;
        padding: 10px 15px;
        color: white;
        &:hover {
            background-color: #1a61fc;
        }
    }

}