.content-section {
    background-color: #A2A3BB;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.content-section h1 {
    margin-bottom: 15px;
    color: #333;
}

.link-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #9395D3;
    color: #000807;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #B3B7EE;
        transform: translateY(-2px);
    }
    &:active{
        transform: translateY(0);
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
    }
  }
  
  @media (max-width: 768px) {
    .link-button {
      padding: 6px 12px;
      font-size: 0.9em;
    }
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    h1 {
        font-size: 2em;
        color: #000807;
        margin: 0;
        text-align: center;
    }
}

.add-button {
    display: inline-block;
    margin-left: 15px;
    padding: 8px 10px;
    background-color: #9395D3;
    color: #000807;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #B3B7EE;
    }
}

@media (max-width: 768px) {
    .title-container {
        flex-direction: column;
        align-items: stretch;
    }

    .title-container h1 {
        margin-bottom: 10px;
    }

    .add-button {
        margin-left: 0;
        text-align: center;
    }
}
