.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #d9d6d0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: 'Hind Madurai', sans-serif;

  a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #000104;
    text-decoration: none;
    border: 1px solid #683836;
    border-radius: 4px;
    transition: all 0.3s ease;
    &:hover {
      background-color: #b52d2f;
      color: #d9d6d0;
    }
  }

  span {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
  }

  .current {
    background-color: #683836;
    padding: 0.5rem 1rem;
    color: #d9d6d0;
    border-color: #b52d2f;
    pointer-events: none;
  }

  .gap {
    color: #888;
    font-size: 0.9rem;
  }

  .first, .last, .next, .prev {
    font-weight: bold;
    background-color: #683836;
    color: #d9d6d0;
    &:hover {
      background-color: #b52d2f;
      color: #d9d6d0;
    }
  }
}