aside {
    width: 200px;
    background-color: #683836;
    color: #d9d6d0;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    font-family: 'Cabin', sans-serif;
    div {
        margin-bottom: 10px;
        text-decoration: none;
        color: #d9d6d0;
        &:hover {
            color: #b52d2f;
        }
    }
}

.category-button {
    background-color: #683836;
    color: #d9d6d0;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
        background-color: #b52d2f;
        color: #d9d6d0;
    }
}

.category-link {
    display: flex;
    text-align: center;
    justify-content: center;
    .category {
        margin-bottom: 10px;
        background-color: #683836;
        color: #d9d6d0;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        cursor: pointer;
        border-radius: 4px;
        padding: 10px;
        &:hover {
            background-color: #b52d2f;
        }
    }
}