.sales-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60%;
    .table-container {
        padding-top: 5px;
        table {
            width: 100%;   
        }
    }
}

