<h1>Información del Usuario</h1>

<p><strong>Nombre de Usuario:</strong> <%= user.username %></p>
<p><strong>Email:</strong> <%= user.email %></p>
<p><strong>Teléfono:</strong> <%= user.telephone %></p>
<p><strong>Rol:</strong> <%= user.role.titleize %></p>
