<% content_for :title, "Editing user" %>

<h1> Editar Usuario</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Ver Usuario", @user %> |
  <%= link_to "Volver a Usuarios", users_path %>
</div>
