.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    table {
        width: 70%;
        border-collapse: collapse;
        background-color: #FBF9FF;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    
    th, td {
        text-align: center;
        padding: 12px 15px;
        border-bottom: 1px solid #A2A3BB;
    }
    
    th {
        background-color: #9395D3;
        color: #FBF9FF;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    tr:hover {
        background-color: #A2A3BB;
    }
    
    td:hover {
        cursor: pointer;
    }
    
    .view-link {
        color: #000807;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}
