<div class="login-form-group">
    <%- if controller_name != 'sessions' %>
      <%= link_to "Iniciar Sesión", new_session_path(resource_name), class: "login-form-submit" %><br />
    <% end %>
</div>
