<% content_for :title, t('edit') + ' ' + t('product') %>

<h1> Editar Producto </h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to t('show') + ' ' + t('product'), @product %> |
  <%= link_to t('back_to') + ' ' + t('products'), products_path %>
</div>
