<% content_for :title, "Editing product" %>

<h1> Editar Producto </h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Ver Producto", @product %> |
  <%= link_to "Volver a Productos", products_path %>
</div>
