<p style="color: green"><%= notice %></p>

<% content_for :title, "Productos" %>

<h1>Productos</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to t('show') + ' ' + t('product'), product %>
    </p>
  <% end %>
</div>

<%= link_to t('new') + ' ' + t('product'), new_product_path %>
