<h1> Hola Mundo </h1>

<h3> Usuarios </h3>
<%= link_to "Usuarios", users_path %>

<h3> Productos </h3>
<%= link_to "Productos", products_path %>

<h3> Ventas </h3>
<%= link_to "Volver a Categorias", sales_path %>

<h3> Cateorias </h3>
<%= link_to "Volver a Categorias", categories_path %>