<h1> AVIVAS </h1>

<h3> Usuarios </h3>
<%= link_to "Usuarios", users_path %>

<h3> Productos </h3>
<%= link_to "Productos", products_path %>

<h3> Ventas </h3>
<%= link_to "Ventas", sales_path %>

<h3> Cateorias </h3>
<%= link_to "Categorias", categories_path %>