<div id="<%= dom_id category %>">
  <p>
    <strong>Nombre:</strong>
    <%= category.name %>
  </p>

  <h3>Productos asociados:</h3>
  <div>
    <% category.products.each do |product| %>
       <div> 
          <%= render product %> 
          <%= link_to t('show') + ' ' + t('product'), product, class: "link-button" %>
       </div>
    <% end %>
  </div>

</div>
