<% content_for :title, "Editing category" %>

<h1> Editar Categoria </h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Ver Categoria", @category %> |
  <%= link_to "Volver a Categorias", categories_path %>
</div>
