<% content_for :title, t('edit') + ' ' + t('category') %>

<h1> Editar Categoría </h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to t('show') + ' ' + t('category'),  @category  %> |
  <%= link_to t('back_to') + ' ' + t('categories'), categories_path %>
</div>