<% content_for :title, "Editar Categoria" %>

<h1> Editar Categoria </h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to t('show') + ' ' + t('category'),  @category  %> |
  <%= link_to t('back_to') + ' ' + t('categories'), categories_path %>
</div>