<p style="color: green"><%= notice %></p>

<% content_for :title, t('categories') %>

<h1> Categorías </h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to t('show') + ' ' + t('category'), category %>
    </p>
  <% end %>
</div>

<%= link_to t('new_sale') + ' ' + t('category'), new_category_path %>

