<% content_for :title, t('categories') %>

<div class="title-container">
  <h1> Categorías </h1>
  <%= link_to t('new_sale') + ' ' + t('category'), new_category_path, class: "add-button" %>
</div>

<div id="categories">
  <% @categories.each do |category| %>
    <h3><%= category.name %></h3>
    <p>
      <%= link_to t('show') + ' ' + t('category'), category, class: "link-button"  %>
    </p>
  <% end %>
</div>

