<% content_for :title, t('categories') %>

<div class="title-container">
  <h1> Categorías </h1>
  <% if user_signed_in? %>
    <%= link_to t('new_sale') + ' ' + t('category'), new_category_path, class: "add-button" %>
  <% end %>
</div>

<div class="categories-grid">
  <% @categories.each do |category| %>
    <div class="category-box">
      <h3> <%= link_to category.name, category, class: "link-button" %> </h3>
    </div>
  <% end %>
</div>

<%= paginate @categories %>
