<% content_for :title, t('new_sale') + ' ' + t('category') %>

<h1> Nueva Categoría </h1>

<%= render "form", category: @category %>

<br>

<div>
   <%= link_to t('back_to') + ' ' + t('categories'), categories_path %>
</div>
